.value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.valueContainer{
    background-color: rgb(247, 244, 244);
    border-radius: 5px;
    padding: 2rem;
    margin-top: 1rem;
} 