.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    background: rgb(231, 57, 57);

    h4 {
        line-height: 15px;
    }

    .container-nav-input{
        display: flex;
        flex-direction: row;

        h4{
            margin: 0 0.5rem;
        }
    }

    .container-nav-location{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;

        div{
            margin: 0 0.5rem;
        }
        
    }

    
    ul {
        display: flex;
        flex-direction: row;

        li{
            list-style: none;
            margin: 0 1rem;
        }

        a{
            text-decoration: none;
            font-size: 1rem;
            

            &:hover{
                color: white
            }
        }
    }
    
}

.divCart{
    cursor: pointer;
}